Requirements:
1. Trong app này có bug, các bạn tìm và fix hết các bug đó (Nếu có khó khăn có thể discuss với anh Phúc). Và tổ chức lại code structure để sau
này các bug như vậy ít xảy ra cũng như thời gian fix sẽ được cải thiện.
2. Implement function cho 2 button (+ và -) trong màn hình checkout:
    - Thêm 1 cột là Amount vào trong các item trong cart.
    - Nếu user nhấn button cộng (+) thì item amount tăng thêm 1
    - Nếu user nhấn button trừ (-) thì item amount giảm đi 1
    - Nếu item amount bắng 1, user nhấn button trừ (-) thì remove item ra khỏi cart.
*** Các bạn phải tổ chức lại code sao cho tái sử dụng được các function thêm/bớt các item trong cart mà không phải là copy/paste code. Tổ chức 
lại code sao cho code có thể reuse được.
*** Đối với các sản phẩm không có hình sẽ có 1 hình default. Hiện tại muốn thay đổi hình default này cần phải thay đổi ở nhiều chỗ. Hãy sắp 
xếp lại code sao cho sau này muốn thay đổi cái default image này, chỉ cần thay đổi ở 1 chỗ.


P/S: Có thể tham khảo các project khác, tuy nhiên phải giải thích được tại sao mình sửa structure code lại như vậy.
