header {
  background-color: #ffffff; }
  header .navbar {
    font-size: 18px;
    line-height: 3.0;
    margin: 0 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 100px; }
    header .navbar .logo {
      display: flex;
      align-items: center;
      margin: 0px;
      line-height: 0px; }
      header .navbar .logo .dot {
        color: #dd6617;
        font-size: 40px; }
  header .intro {
    background-image: url("../image/nature_call-2560x1440.jpg");
    height: 700px;
    object-fit: cover;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  header .menu {
    list-style: none;
    display: flex;
    align-items: center; }
    header .menu li {
      display: flex;
      align-items: center;
      margin: 0px 25px; }
      header .menu li img {
        width: 20px;
        margin: 0px 10px; }
    header .menu div {
      display: flex;
      align-items: center; }
    header .menu a {
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: bolder;
      color: #000000; }
    header .menu img {
      width: 20px;
      margin: 0px 5px 5px 5px; }

.content {
  margin: 0px 200px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .content .content-medium {
    max-width: 230px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 17px;
    margin: 30px 0px; }
  .content .content-large {
    max-width: 550px;
    font-weight: bolder;
    line-height: 1.2;
    font-size: 51px; }
  .content .content-normal {
    margin: 40px 0px;
    font-size: 17px;
    max-width: 580px;
    font-family: Arial, Helvetica, sans-serif; }

.trip-planner__content-large {
  max-width: 550px;
  font-weight: bolder;
  line-height: 1.2;
  font-size: 48px; }

.trip-planner__content-normal {
  margin: 40px 0px 50px 0px;
  font-size: 16px;
  max-width: 580px;
  font-family: Arial, Helvetica, sans-serif;
  color: gray; }

.scroll-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50px;
  background-color: #ffffff;
  height: 400px;
  color: #000000; }
  .scroll-bar .number {
    margin: 25px 0px 0px 0px; }
  .scroll-bar-height {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .scroll-bar .scroll-button {
    margin: 0px 0px 25px 0px; }
    .scroll-bar .scroll-button button {
      border: none;
      background-color: transparent;
      outline: none;
      display: flex;
      align-items: center; }
  .scroll-bar .bar {
    width: 3px;
    height: 130px;
    background-color: #292b2c; }
  .scroll-bar .circle {
    width: 10px;
    height: 5px;
    background-color: #000000; }

.watch-intro {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0px;
  top: 680px; }
  .watch-intro iframe {
    width: 390px;
    height: 200px; }
  .watch-intro .line {
    height: 100px;
    margin-top: 50px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
    .watch-intro .line hr {
      margin: 2px 0px;
      border: none;
      background-color: gray;
      width: 25px;
      transform: skewY(45deg);
      height: 5px; }

.fillter {
  display: flex;
  margin: 0px 390px 0px 0px;
  background-color: #ffffff; }

.fillter-bar {
  margin-left: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%; }
  .fillter-bar span {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 14px; }
  .fillter-bar .item {
    display: flex;
    flex-direction: column; }
  .fillter-bar select {
    margin-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bolder;
    border-right: none;
    border-top: none;
    border-left: none;
    border-bottom: 2px solid gray;
    width: 150px;
    max-width: 220px;
    outline: none;
    background-color: #ffffff; }
  .fillter-bar .button-book {
    width: 200px;
    height: 200px; }
    .fillter-bar .button-book button {
      border: none;
      outline: none;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      background-color: #e92d4d;
      height: 100%; }
      .fillter-bar .button-book button .text-book {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-size: 30px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #ffffff; }
        .fillter-bar .button-book button .text-book span {
          font-size: 30px;
          font-family: Georgia, 'Times New Roman', Times, serif;
          color: #ffffff; }

.trip-planner {
  height: 780px;
  display: flex; }
  .trip-planner .line {
    margin-top: 90px;
    margin-right: 175px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 170px; }
    .trip-planner .line hr {
      margin: 3px 0px;
      border: none;
      background-color: gray;
      width: 30px;
      transform: skewY(45deg);
      height: 5px; }
  .trip-planner__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; }
    .trip-planner__content__text {
      width: 30%;
      max-width: 400px; }
      .trip-planner__content__text .button-view {
        position: relative;
        width: 220px;
        height: 70px; }
        .trip-planner__content__text .button-view .block-color-first {
          position: absolute;
          width: 50px;
          height: 50px;
          bottom: 20px;
          right: 170px;
          background-color: #000000; }
        .trip-planner__content__text .button-view .block-color-last {
          position: absolute;
          top: 20px;
          left: 170px;
          width: 50px;
          height: 50px;
          background-color: gray; }
        .trip-planner__content__text .button-view button {
          position: absolute;
          width: 200px;
          height: 50px;
          top: 10px;
          right: 10px;
          left: 10px;
          bottom: 10px;
          z-index: 1;
          border: none;
          background-color: #dd6617;
          color: #ffffff;
          font-family: 'Times New Roman', Times, serif;
          font-size: 18px; }
    .trip-planner__content__image {
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end; }
      .trip-planner__content__image .planner {
        display: flex;
        justify-content: space-between;
        transition: 1s height all; }
        .trip-planner__content__image .planner-item {
          height: 400px;
          width: 300px;
          display: flex;
          flex-direction: column; }
          .trip-planner__content__image .planner-item .toure {
            margin: 10px 0px;
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
            justify-content: space-between;
            color: gray;
            display: none; }
            .trip-planner__content__image .planner-item .toure span {
              color: #000000;
              font-weight: bolder; }
          .trip-planner__content__image .planner-item s
.city {
            display: none;
            font-size: 20px; }
          .trip-planner__content__image .planner-item .detail {
            display: none;
            font-family: Arial, Helvetica, sans-serif;
            justify-content: space-between;
            color: gray;
            margin: 10px 0px; }
            .trip-planner__content__image .planner-item .detail .rate {
              width: 100px; }
              .trip-planner__content__image .planner-item .detail .rate img {
                width: 50px;
                height: auto; }
        .trip-planner__content__image .planner-item:hover {
          height: 600px;
          transition: 1s height all; }
          .trip-planner__content__image .planner-item:hover .toure {
            display: flex; }
          .trip-planner__content__image .planner-item:hover .city {
            display: block; }
          .trip-planner__content__image .planner-item:hover .detail {
            display: flex; }
        .trip-planner__content__image .planner img {
          object-fit: cover;
          width: 300px;
          height: 400px; }
        .trip-planner__content__image .planner .planner-item:last-child {
          display: none; }
      .trip-planner__content__image .button-slide {
        display: flex;
        justify-content: flex-end;
        margin-top: 30px;
        padding-right: 200px;
        font-size: 80px;
        font-weight: 900;
        color: black; }
        .trip-planner__content__image .button-slide button {
          width: 50px;
          height: 50px;
          border: none;
          background-color: #ffffff;
          outline: none;
          margin-left: 10px; }
        .trip-planner__content__image .button-slide button:focus {
          background-color: #000000;
          color: #ffffff; }

.room-site {
  margin: 0px 200px 0px 200px; }
  .room-site-detail {
    height: 100%;
    width: 100%; }
    .room-site-detail__title {
      font-size: 50px;
      font-weight: bolder;
      margin-bottom: 35px; }
    .room-site-detail__subtitle {
      font-size: 16px;
      font-family: Arial, Helvetica, sans-serif;
      color: gray;
      margin-bottom: 60px; }
    .room-site-detail__image {
      display: flex;
      justify-content: space-between;
      height: 650px; }
      .room-site-detail__image .image-protait {
        width: 470px;
        height: 650px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-image: url("../image/room/latest-french-country-master-bedroom-ideas-17-best-ideas-about-french-country-bedrooms-on-pinterest-french.jpg"); }
      .room-site-detail__image .image-lanscape {
        height: 650px;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        .room-site-detail__image .image-lanscape .image-lanscape-first {
          width: 470px;
          height: 300px;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          background-image: url("../image/room/0013486_torino-upholstered-rustic-pine-king-sleigh-bedroom-ii_1200.jpeg");
          object-fit: cover; }
        .room-site-detail__image .image-lanscape .image-lanscape-second {
          width: 470px;
          height: 300px;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          background-image: url("../image/room/1700-dark-oak.jpg");
          object-fit: cover; }
        .room-site-detail__image .image-lanscape .image-lanscape-third {
          width: 470px;
          height: 300px;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          background-image: url("../image/room/amazing-of-french-country-master-bedroom-ideas-french-country-blue-paint-colors-master-bedroom-soft-blue-walls.jpg");
          object-fit: cover; }
        .room-site-detail__image .image-lanscape .image-lanscape-forth {
          width: 470px;
          height: 300px;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          background-image: url("../image/room/master-bedroom-furniture-package-c9-x.jpg");
          object-fit: cover; }
      .room-site-detail__image .price {
        color: #ffffff;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0px 0px 20px 30px; }
      .room-site-detail__image .name {
        color: #ffffff;
        font-size: 30px;
        font-weight: bolder;
        margin: 0px 0px 30px 30px; }

.traveller .line {
  height: 300px;
  margin-right: 145px;
  display: flex;
  flex-direction: row;
  align-items: flex-end; }
  .traveller .line-first {
    margin-bottom: 22px; }
    .traveller .line-first hr {
      margin: 3px 0px;
      border: none;
      background-color: gray;
      width: 15px;
      transform: skewY(45deg);
      height: 5px; }
  .traveller .line-second {
    margin-bottom: 30px; }
    .traveller .line-second hr {
      margin: 3px 0px;
      border: none;
      background-color: gray;
      width: 30px;
      transform: skewY(-45deg);
      height: 5px; }

.traveller-site {
  margin: 85px 200px 0px 200px; }
  .traveller-site__title {
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 35px; }
  .traveller-site__subtitle {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    margin-bottom: 60px; }

.traveller-content {
  display: flex;
  justify-content: space-between; }
  .traveller-content__item {
    width: 28%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative; }
    .traveller-content__item img {
      margin-left: 50px;
      margin-bottom: -50px;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      z-index: 1; }
    .traveller-content__item .block-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 250px;
      background-color: #ffffff; }
      .traveller-content__item .block-text__detail {
        margin: 35px 50px 0px 50px;
        font-family: Arial, Helvetica, sans-serif;
        color: gray; }
      .traveller-content__item .block-text__name {
        margin: 25px 50px 10px 50px;
        font-size: 16px;
        font-weight: bolder; }
      .traveller-content__item .block-text__position {
        margin: 0px 50px;
        font-family: Arial, Helvetica, sans-serif;
        color: gray; }

.subscribe {
  margin: 200px 0px 135px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .subscribe-title {
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
    max-width: 420px;
    margin-bottom: 85px; }
  .subscribe-form {
    display: flex; }
    .subscribe-form input {
      width: 600px;
      height: 100px;
      border: none;
      outline: none; }
    .subscribe-form input::placeholder {
      font-size: 20px;
      text-indent: 50px; }
    .subscribe-form button {
      width: 200px;
      height: 100px;
      border: none;
      outline: none;
      background-color: #e92d4d;
      color: #ffffff;
      font-size: 30px;
      font-family: 'Times New Roman', Times, serif; }

.menu-footer {
  font-size: 18px;
  line-height: 3.0;
  margin: 0px 200px 0px 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 100px; }
  .menu-footer .logo {
    display: flex;
    align-items: center;
    margin: 0px;
    line-height: 0px; }
    .menu-footer .logo .dot {
      color: #dd6617;
      font-size: 40px; }
  .menu-footer .menu {
    list-style: none;
    display: flex;
    align-items: center; }
    .menu-footer .menu li {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 18px;
      font-weight: bolder;
      text-decoration: none;
      display: flex;
      align-items: center;
      margin: 0px 25px; }
      .menu-footer .menu li a {
        text-decoration: none;
        color: #000000; }
      .menu-footer .menu li a::selection {
        color: #000000; }
  .menu-footer .icon-social {
    width: 110px;
    display: flex;
    justify-content: space-between;
    font-size: 18px; }

body {
  margin: 0 auto;
  background-color: #cccfd1;
  width: 100%;
  max-width: 1920px;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  color: #000000;
  height: 100%; }
