body {
    margin: 0 auto;
    background-color: rgb(204, 207, 209);
    width: 100%;
    max-width: 1920px;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    color: $bg-dark;
    height: 100%;
}