.core-value {
    
    background: $primary-bg;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        padding:100px 50px 50px 50px;
        &__text {
            padding:0 100px 100px 100px;
            font-size:40px;
            .title {
                h1 {
                    font-size:25px;
                    line-height: 25px;
                }
                margin-top:50px
            }
            
            p{
                font-size:18px;
                line-height: 18px;
                color:#666;
            }
        }
        
        &__button {
            text-align: center;
            button {
                background: none;
                color:$primary;
                font-size:20px;
            }
        }
    }
    
    &__item:hover {
        background: white;
        box-shadow: 0px 4px 16px 2px rgba(0,0,0,0.75);
    }
}